.text{
  height: 40vh;
  width: 30;
  /* color: white; */
}
.text2{
  display: flex;
/* justify-content: space-between; */
align-items: center;
list-style-type: none;
justify-content: end;
margin-right: 20px;
}
.user li{
  margin: 20px;
  /* justify-content: end; */

}
.user{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.text2 ul{
  justify-content: end;
}
.btn{
  margin: 10px;
  size: 1cm;
}
.text1{
  justify-content: space-between;
  display: flex;
  color: white;
}
.home1{
  height: 100vh;
  width: 100%;

}
.img{
height: 100vh;
width: 100%;
background-size: cover;
}
.home2{
top: 30%;
position: absolute;
left: 35%;
color: white;
}
.home3{
  top: 40%;
  position: absolute;
  left: 30%;
  color: white;
}
.home4{
margin-left: 100px;
margin-top: 200px;
}
.home5{
  margin-left: 100px;
}
.map1{
  display: flex;
  
}